In [3]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.express as px

In [9]:
import numpy as np
import pandas as pd
from helper import TelecomHelper
import plots
from clean_telecom_df import CleanTelecomData

pd.options.display.float_format = "{:.6f}".format

In [12]:
engagment_path = "../data/user_engagement.csv"
experience_path = "../data/user_experience_metrics.csv"

In [13]:
Helper = TelecomHelper()

user_engagement = Helper.read_csv(engagment_path)
user_experience = Helper.read_csv(experience_path)

file read as csv
file read as csv

In [16]:
user_engagement.head()

   sessions_frequency      duration     total_traffic  clusters
0            1.000000 116720.000000  878690574.000000  cluser_3
1            1.000000 181230.000000  156859643.000000  cluser_2
2            1.000000 134969.000000  595966483.000000  cluser_2
3            1.000000  49878.000000  422320698.000000  cluser_3
4            2.000000  37104.000000 1457410944.000000  cluser_3

In [18]:
user_experience.head()

,avg_rtt_ms,avg_throughput_kbps,tcp_retrans_bytes,handset_type,clusters
0,46.000000,76.000000,21825280.436430,Huawei P20 Lite Huawei Nova 3E,cluser_1
1,31.000000,99.000000,21825280.436430,Apple iPhone 7 (A1778),cluser_1
2,123.593439,97.000000,21825280.436430,Apple iPhone 7 Plus (A1784),cluser_1
3,84.000000,248.000000,773968.274842,Apple iPhone 5S (A1457),cluser_3
4,119.000000,56844.000000,31196112.436430,Apple iPhone Se (A1723),cluser_2

In [ ]:
### C